.Grid{
  float: right;
  margin: 3%;
  padding: 0;
  width: 78%;
  background-image: linear-gradient(to bottom right, #205072, #329D9C);
  height: 89%;
  overflow: auto;
  border-radius: 15px;
  box-shadow:  inset -3px -3px 5px #ffffff30, inset 3px 3px 15px #00000070;
}