.Sidebar {
  margin: 17px;
  padding: 0;
  width: 200px;
  background-color: #dde1e7;
  position: fixed;
  height: 94%;
  overflow: auto;
  border-radius: 15px;
  box-shadow:  -3px -3px 5px #ffffff30, 3px 3px 15px #00000070;
}

.Logo{
  margin-bottom: 10%;
  text-align: center;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  background-image: linear-gradient(to bottom right, #1CA7EC, #1F2F98);  
}


.Topic{
  margin: 4%;
  text-align: center;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  background-color: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 5px #ffffff30, 3px 3px 15px #00000050;
}

.Topic:hover{
  background-color: #787FF6;
  color: white;
}

/*button*/
.GenericButton{
  width: 20px;
  margin: 70px;
  text-align: center;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  background-image: linear-gradient(to bottom right, #1CA7EC, #1F2F98);
  border-radius: 20px;
  box-shadow: inset -3px -3px 5px #ffffff30, 3px 3px 15px #00000050;
}